<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class='wrap'>
    <div>
        <label for="one">One</label>
        <input id="one" type="text" value="First" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div>
        <label for="two">Two</label>
        <input id="two" type="text" value="Second" />
    </div>
    <div class='info' />
</div>
<script>
        $(window).resize( function() {
            $("div.wrap div.info").html($(window).width() + ' X ' + $(window).height() );
        });
</script>
